{% extends 'base.html' %}
{% block title %} Cities{% endblock %}
{% block content %}

<div>

    <h1 class="title pt-5">{{ header }}</h1>

    <form class="" method="get">
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" name="name" placeholder="name"/>
            </div>
            <div class="control">
                <input class="btn is-success" type="submit" value="Search"/>
            </div>
        </div>
        <a class="btn is-dark" href="{% url 'city_list' %}">Clear Search</a>
    </form>
<hr>
<hr>
<a class="btn is-dark" href="{% url 'city_create' %} ">Add City</a>

    <hr>
    <hr>

    <h2>I want to add a map here </h2>
    <br />
    <hr>
    <hr>

    <div>
        <ul>
            <li> New Photos</li>
            <li> New Blogers</li>
        </ul>
    </div>

    <hr>


    <div class="gallery">
        {% for city in cities %}
        <div class="card" style="width:18rem;">
            <a href=" {% url 'city_detail'  city.pk %}">
                <!-- <div class="card-image">
                    <figure class="image is-square"> -->
                        <img class="card-img-top" src="{{ city.image.url}}"  alt="{{city.name}}" />
                    <!-- </figure>
                </div> -->
                <div class="card-header">
                    <h1 class="card-header-title">{{city.name}} </h1>
                    <!-- {{city.author}} - {{city.public_date}} -->
                </div>
            </a>
            <div class="card-body">
                <p class="card-text">{{city.body }}</p>
                
            </div>
        </div>
        
        
        {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No Cities Available</p>
            </div>
        </article>
       
        {% endfor %}
    </div>
</div>

{% endblock %}