{% extends 'base.html' %}
{% block title %} Create A New Profile Page  {% endblock %}
{% block content %}

    {% if user.is_authenticated %}

    <h1>Create Profile Pge ... </h1>
    <br />
    <br />
    <div class="form_group">
        <form method="Post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <!-- <input type="submit" value="Submit" /> -->
            <button class="btn btn-secondary">Create Profile Page</button>
        </form>
    </div>
    {% endif %}

{% endblock %}