{% extends 'base.html' %}
{% load static %}

{% block title %} Profile{% endblock %}
{% block content %}

<h1>Profile Page</h1>

<!-- {{ page_user }} -->

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            {% if page_user.avatar %}
            <img src="{{ page_user.avatar.url }}" class="card-img" alt="...">
            {% else %}
            <!-- cant load statics  -->
            <img src="{% static 'images/default-avatar.jpeg' %}" class="card-img" alt="love">
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">
                    {{ page_user.user.first_name }}<br />
                    {{ page_user.user.last_name }}
                </h5>
                <p class="small text-muted">
                    {% if page_user.website_url %}
                    <a href="  {{ page_user.website_url }}">
                        Website
                    </a>
                    {% endif %}

                    {% if page_user.facebook_url %}
                    | <a href=" {{ page_user.facebook_url }}">
                        Facebook
                    </a>
                    {% endif %}

                    {% if page_user.twitter_url %}
                    | <a href=" {{ page_user.twitter_url }}">
                        Twitter
                    </a>
                    {% endif %}

                    {% if page_user.instagram_url %}
                    | <a href=" {{ page_user.instagram_url }}">
                        Instagram
                    </a>
                    {% endif %}
                </p>
                <p>
                    City: {{ page_user.city }} <br />
                    Joined: {{ page_user.join_date}}
                </p>

                <p class="card-text">{{ page_user.bio }}</p>
                <button class="btn btn-default btn-sm">
                    <a href="{% url 'profile_update'%}">
                        Update Profile
                    </a>
                </button>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}