{% extends 'base.html' %}
{% load static %}

{% block title %} Profile{% endblock %}
{% block content %}

<h1>Profile Page</h1>

<body class="theme-l5">
    <div class="nav-top">
        <div class="navbar nav-theme-d2 nav-left-align  nav-large">
            <a class="navbar-item btn hide-medium hide-large right padding-large hover-white large theme-d2 " href="javascript:void(0);" onclick="openNav()">
                <i class="fa fa-bars"></i>
            </a>
            <a href="#" class="nav-bar-item button padding-large nav-theme-d4">
                <i class="fa fa-bars"></i>
                Logo
            </a>
            <a href="" class="nav-bar-itm nav-button nav-hide-small nav-padding-large nav-h0ver-white" title="News">
                <i class="fa fa-globe"></i>
            </a>
            <a href="#" class="nav-bar-item nav-buton nav-hide-small nav-padding-large nav-hover-white" title="Messages">
                <i class="fa fa-envelope"></i>
            </a>
            <div class="dropdown-hover hide-small">
                <button class="button padding-large" title="Notification">
                    <i class="fa fa-bell"></i>
                    <span class="badge right small green">3</span>
                </button>
                <div class="dropdown-content card-4 nav-bar-block" style="width:300px">
                    <a href="#" class="nav-bar-item button">
                        New friend request
                    </a>
                    <a href="#" class="nav-bar-item button">
                       jane posted on your wall
                    </a>
                    <a href="#" class="nav-bar-item button">
                       jane likes your post
                    </a>
                </div>
            </div>

        </div>
    </div>

</body>








<!-- {{ page_user }} -->

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            {% if page_user.avatar %}
            <img src="{{ page_user.avatar.url }}" class="card-img" alt="...">
            {% else %}
            <!-- cant load statics  -->
            <img src="{% static 'images/default-avatar.jpeg' %}" class="card-img" alt="love">
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">
                    {{ page_user.user.first_name }}<br />
                    {{ page_user.user.last_name }}
                </h5>
                <p class="small text-muted">
                    {% if page_user.website_url %}
                    <a href="  {{ page_user.website_url }}">
                        Website
                    </a>
                    {% endif %}

                    {% if page_user.facebook_url %}
                    | <a href=" {{ page_user.facebook_url }}">
                        Facebook
                    </a>
                    {% endif %}

                    {% if page_user.twitter_url %}
                    | <a href=" {{ page_user.twitter_url }}">
                        Twitter
                    </a>
                    {% endif %}

                    {% if page_user.instagram_url %}
                    | <a href=" {{ page_user.instagram_url }}">
                        Instagram
                    </a>
                    {% endif %}
                </p>
                <p>
                    City: {{ page_user.city }} <br />
                    Joined: {{ page_user.join_date}}
                </p>

                <p class="card-text">{{ page_user.bio }}</p>
                <button class="btn btn-default btn-sm">
                    <a href="{% url 'profile_update'%}">
                        Update Profile
                    </a>
                </button>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}