{% extends 'base.html' %}
{% load static %}

{% block title %} Profile{% endblock %}
{% block content %}
<br/>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" class="card-img" alt="...">
            {% else %}
            <!-- cant load statics  -->
            <img src="{% static 'images/default-avatar.jpeg' %}" class="card-img" alt="love">
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">
                    {{ user.profile.first_name }}<br/>
                    {{ user.profile.last_name }}
                </h5>
                <p class="small text-muted">
                    {% if user.profile.website_url %}
                        <a href="  {{ user.profile.website_url }}">
                         Website 
                        </a> 
                    {% endif %}

                    {% if user.profile.facebook_url %}
                        | <a href=" {{ user.profile.facebook_url }}">
                            Facebook 
                        </a> 
                    {% endif %}

                    {% if user.profile.twitter_url %}    
                        | <a href=" {{ user.profile.twitter_url }}">
                            Twitter
                        </a> 
                    {% endif %}

                    {% if user.profile.instagram_url %}    
                        | <a href=" {{ user.profile.instagram_url }}">
                            Instagram 
                        </a> 
                    {% endif %}
                </p>
                <p>
                    City:  {{ user.profile.city }} <br/>
                    Joined: {{ user.profile.join_date}}
                </p>

                <p class="card-text">{{ user.profile.bio }}</p>
                <button class="btn btn-default btn-sm">
                    <a href="{% url 'profile_update'%}">
                        Update Profile
                    </a>
                </button>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<div id="profile-container">


    <div class="container profile-container">
        <!-- <div class="row">
            <div class="col">
                <img class="rounded-circle account-img" id="profile_pic" src="{{ user.profile.avatar.url }}" />
                 <h5>{{user.profile.username}}</h5> -->
            <!-- </div>
            <div class="row">
                <div class="col">
                    {{ user.profile.first_name }} {{ user.profile.last_name }}
                </div>
                <div class="col">
                    {{ user.profile.username }} 
                </div>
                <div class="col">
                   {{ user.profile.city }}
                </div>


                <div class="row">
                    <div class="col" id="join_date">
                        Joined: {{ user.profile.join_date}}
                    </div>
                </div>
            </div>
            <button class="btn btn-default btn-sm"><a href="{% url 'profile_update'%}">Update Profile</a></button>
            
        </div>  -->
        <div>
            <p id="myposts"> My posts:</p>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="gallery">
                            {% for post in posts %}
            
                            <div class="card m-2">
                                <a href="{% url 'post_detail' post.pk %}">
                                    <img class="card-img-top" src="{{ post.image.url }}" alt="{{post.title}}" />
                                    <div class="card-header">
                                        <h1 class="card-header-title">{{post.title}} </h1>
                                        {{post.author}} - {{post.post_date}}
                                    </div>
                                </a>
            
                                <div class="card-body">
                                    <p class="card-text">{{ post.body }}</p>
                                </div>
                            </div>
            
                            {% empty %}
            
                            <article class="message">
                                <div class="message-header">
                                    <p>You haven't posted yet.
                                        <a  href="{% url 'post_create'  %}">contribut</a>
                                    </p>
                                </div>
                            </article>
            
                            {% endfor %}
            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>


    


{% endblock %}

