{% extends 'base.html' %}
{% block content %}

<div>
    <img class="" src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/292222408_649722076511816_3765128964331228745_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Jy9TnMy9stEAX9R34ny&_nc_ht=scontent-iad3-2.xx&oh=00_AfBFsJHaQmR0UqY3JzcUHXXdfFWBBJoLRVebZ9_RJInMQA&oe=6360BB71"/>
    <h1>Visit Morocco With Fatima</h1>
    <p>
        love traveling but couldn't do much of it because I had kids. Now after everyone of them have a life I am going to visit any and every palce in the world.
    </p>
    <div class="destination-text">
        <!-- <em>
            <!-- <span class="visible-desktop"> -->
            <!--<span class="">
                Pick a 
                <span class="destination-btn">
                    destination
                    <svg class="icon icon-arrow-small">
                        <use xlink:href="#icon-arrow-small"></use>
                    </svg>
                </span>

            </span>
        </em> -->
        <a href="/cities" class="btn btn-primary" > Pick a destination</a href="">
      
    </div>
</div>

{% endblock %}