{% extends 'base.html' %}
{% block title %} Cities{% endblock %}
{% block content %}

<div>

    <h1 class="title pt-5">{{ header }}</h1>

    <hr>
    <hr>

    <h2>I want to add a map here </h2>
    <br />
    <hr>
    <hr>

    <div>
        <ul>
            <li> New Photos</li>
            <li> New Blogers</li>
        </ul>
    </div>

    <hr>


    <div class="gallery">
        {% for city in cities %}
        <a href="">
            <div class="card" style="width:18rem;">
                <div class="card-image">
                    <figure class="image is-square">
                        <img src="{{city.img}}" alt="{{city.name}}" />
                    </figure>
                </div>
                <div class="card-header">
                    <h1 class="card-header-title">{{city.name}} </h1>
                    <!-- {{city.author}} - {{city.public_date}} -->
                </div>
            </div>
        </a>
                <!-- <div class="card-body">
                <p>{{ post.body }}</p>
                | " : 200" 
                </div> -->

        {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No Cities Available</p>
            </div>
        </article>
       
        {% endfor %}
    </div>
</div>

{% endblock %}