{% extends 'base.html' %}
{% block content %}

<h1>Visit Morocco With Bouamrani</h1>

<div>

    <h1 class="title pt-5">{{ header }}</h1>

    <hr>
    <hr>


    <div class="gallery">
        {% for post in posts %}
        <div class="card" style="width:18rem;">
            <a href="{% url 'post_detail' post.pk %}">
                <!-- <div class="card-image"> -->
                    <!-- <figure class="image is-square"> -->
                        <img  class="card-img-top"src="{{ post.image.url }}" alt="{{post.title}}" />
                    <!-- </figure> -->
                <!-- </div> -->
                <div class="card-header">
                    <h1 class="card-header-title">{{post.title}} </h1>
                    {{post.author}} - {{post.post_date}}
                </div>
            
            </a>
            <div class="card-body">
                <p class="card-text">{{ post.body  }}</p>
            </div>
        </div>
                

        {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No Posts Available</p>
            </div>
        </article>

        {% endfor %}
    </div>
</div>

{% endblock %}