{% extends 'base.html' %}
{% block title %} Posts{% endblock %}
{% block content %}

<div>

    <h1 class="title pt-5">{{ header }}</h1>

    <hr>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="gallery">
                    {% for post in posts %}

                    <div class="card m-2" >
                        <a href="{% url 'post_detail' post.pk %}">
                            <img class="card-img-top" src="{{ post.image.url }}" alt="{{post.title}}" />
                            <div class="card-header">
                                <h1 class="card-header-title">{{post.title}} </h1>
                                {{post.author}} - {{post.post_date}}
                            </div>
                        </a>

                        <div class="card-body">
                            <p class="card-text">{{ post.body }}</p>
                        </div>
                    </div> 

                    {% empty %}

                    <article class="message">
                        <div class="message-header">
                            <p>No Posts Available</p>
                        </div>
                    </article>
                
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}