{% extends 'base.html' %}
{% block content %}


{{ post.title }} <br />
By: {{ post.author }} ||
{{ post.public_date }} <br />

<div class="detail__container">
    {% if user.is_authenticated %}
        <div class="button">
            <!-- need to work on style bootstrap5 -->
            <a href="{% url 'post_update' post.pk %}" class="btn btn-primary">
                <span class="icon">
                    <i class="bi bi-pen"></i>
                </span>
                edit
            </a>
            <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">
                <span class="icon">
                    <i class="bi bi-trash"></i>
                </span>
                delete
            </a>
        </div>
    {% endif %}

    <div class="detail__about">

        <p>{{ post.body }}</p>
        <!-- if you ant to add html to your post but it wouldnt be safe you might get hacked 
        <p>{{ post.body | safe }}</p> -->
    </div>
    <a class="button" href="{% url 'post_list'  %}">back</a>


    <br /><br />
    <hr>
    <br />

    
</div>



{% endblock%}